{{ if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

# Install HomeBrew
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

# Install some applications applicable to all hosts
brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "homebrew/services"
brew "tree"
EOF

#tap "ko1nksm/getoptions"
#brew "ansible"
#brew "ansible-lint"
#brew "asciinema"
#brew "python@3.9"
#brew "awscli"
#brew "bat"
#brew "bottom"
#brew "bpytop"
#brew "broot"
#brew "caddy"
#brew "glib"
#brew "coreutils"
#brew "emacs", link: false
#brew "cask"
#brew "cdrtools"
#brew "choose"
#brew "cmake"
#brew "cookiecutter"
#brew "curl"
#brew "davmail"
#brew "dnscrypt-proxy"
#brew "dstask"
#brew "duf"
#brew "dust"
#brew "exa"
#brew "fd"
#brew "ffmpeg"
#brew "fortune"
#brew "fzf"
#brew "getdns"
#brew "gh"
#brew "git-delta"
#brew "glances"
#brew "gnupg", link: false
#brew "gnu-sed"
#brew "gopass"
#brew "grex"
#brew "hey"
#brew "hping"
#brew "htop"
#brew "httpd"
#brew "httpie"
#brew "hugo"
#brew "imapsync"
#brew "inetutils"
#brew "irssi"
#brew "isync", restart_service: true
#brew "jq"
#brew "kubernetes-cli", link: false
#brew "lbdb"
#brew "ldns"
#brew "lftp"
#brew "libvterm"
#brew "lynx"
#brew "minikube"
#brew "msmtp"
#brew "mtr"
#brew "neofetch"
#brew "neomutt"
#brew "nmap"
#brew "opensc"
#brew "openssh"
#brew "pandoc"
#brew "pinentry-mac"
#brew "pwgen"
#brew "qemu"
#brew "ranger"
#brew "rclone"
#brew "ripgrep"
#brew "rsync"
#brew "rust"
#brew "salt"
#brew "sd"
#brew "shellcheck"
#brew "tealdeer"
#brew "terraform"
#brew "the_silver_searcher"
#brew "thefuck"
#brew "tmux"
#brew "vdirsyncer"
#brew "vegeta"
#brew "w3m"
#brew "wget"
#brew "wireguard-tools"
#brew "wrk"
#brew "wtfutil"
#brew "yamllint"
#cask "1password"
#cask "1password-cli"
#cask "adobe-acrobat-reader"
#cask "atomic-wallet"
#cask "basictex"
#cask "brave-browser"
#cask "caldigit-docking-utility"
#cask "discord"
#cask "docker"
#cask "double-commander"
#cask "emacs"
#cask "firefox"
#cask "font-fira-code-nerd-font"
#cask "font-mononoki-nerd-font"
#cask "gns3"
#cask "google-chrome"
#cask "google-cloud-sdk"
#cask "google-drive"
#cask "gpg-suite"
#cask "imazing"
#cask "keyboard-maestro"
#cask "kitematic"
#cask "kitty"
#cask "libreoffice"
#cask "logitech-camera-settings"
#cask "logitech-g-hub"
#cask "logitech-presentation"
#cask "macfuse"
#cask "mailmate"
#cask "microsoft-auto-update"
#cask "microsoft-excel"
#cask "microsoft-powerpoint"
#cask "microsoft-remote-desktop"
#cask "microsoft-teams"
#cask "microsoft-word"
#cask "onedrive"
#cask "progressive-downloader"
#cask "protonmail-bridge"
#cask "protonvpn"
#cask "raspberry-pi-imager"
#cask "rectangle"
#cask "remoteviewer"
#cask "signal"
#cask "skype"
#cask "slack"
#cask "softorino-youtube-converter"
#cask "stack-stack"
#cask "teamviewer"
#cask "telegram"
#cask "temurin8"
#cask "the-unarchiver"
#cask "thunderbird"
#cask "transmission"
#cask "ubiquiti-unifi-controller"
#cask "unetbootin"
#cask "veracrypt"
#cask "virtualbox"
#cask "virtualbox-extension-pack"
#cask "vlc"
#cask "vmware-fusion"
#cask "whatsapp"
#cask "wifi-explorer"
#cask "wireshark"
#cask "zoho-docs"
#cask "zoho-mail"
#cask "zoom"

{{ end -}}

