{{/* boolean feature tags */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets from 1PassWord */}}
{{- $gotroot := false -}}{{/* true if this machine has root or sudo access */}}
{{- $isBounce := false -}}{{/* true if this machine is for Bounce Experts */}}
{{- "" -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "vagrant" "vscode") -}}
{{-   $headless = true -}}
{{-   $ephemeral = true -}}
{{-   $gotroot = true -}}
{{- end -}}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{-   if eq $computerName "BOFH’s MacBook Pro" -}}
{{-     $hostname = "bofhs-mbp" -}}
{{-   else -}}
{{-     $hostname = $computerName -}}
{{-   end -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-   if eq $hostname "pdr" "rpi4a" -}}
{{-     $headless = true -}}
{{-     $gotroot = true -}}
{{-   else if eq $hostname "bofhs-mbp" -}}
{{-     $personal = true -}}
{{-     $gotroot = true -}}
{{-   else if lookPath "sudo" }}
{{-     $gotroot = output "sh" "-c" "sudo -vn 2>&1 || true" | regexMatch "password" }}
{{-   else if stdinIsATTY -}}
{{-     if hasKey . "headless" -}}
{{-       $headless = .headless -}}
{{-     else -}}
{{-       $headless = promptBool "headless" -}}
{{-     end -}}
{{-     if hasKey . "gotroot" -}}
{{-       $gotroot = .gotroot -}}
{{-     else -}}
{{-       $gotroot = promptBool "gotroot" -}}
{{-     end -}}
{{-     if hasKey . "isBounce" -}}
{{-       $isBounce = .isBounce -}}
{{-     else -}}
{{-       $isBounce = promptBool "isBounce" -}}
{{-     end -}}
{{-   else -}}
{{-     $headless = true -}}
{{-     $ephemeral = true -}}
{{-   end -}}
{{- end -}}

[data]
  headless = {{ $headless }}
  hostname = {{ $hostname | quote }}
  ephemeral = {{ $ephemeral }}
  personal = {{ $personal }}
  gotroot = {{ $gotroot }}
  isBounce = {{ $isBounce }}

