Sync Pull All Push All

IMAPAccount ProtonMail
Timeout 300
Host 127.0.0.1
Port 1143
UserCmd "gopass show -o email/ProtonMail/username"
PassCmd "gopass show -o email/ProtonMail/password"
SSLType None
AuthMechs LOGIN

IMAPStore ProtonMailRemote
Account ProtonMail
#UseNamespace yes

MaildirStore ProtonMailLocal
Subfolders Verbatim
Path ~/Mail/ProtonMail/
Inbox ~/Mail/ProtonMail/INBOX

Channel ProtonMail
Far :ProtonMailRemote:
Near :ProtonMailLocal:
Patterns * !"All Mail"
Create Both
Expunge Both
SyncState *

IMAPAccount BounceExperts
Timeout 300
Host {{ gopass "email/BounceExperts/imap_server" }}
Port 993
UserCmd "gopass show -o email/BounceExperts/username"
PassCmd "gopass show -o email/BounceExperts/password"
SSLType IMAPS
AuthMechs LOGIN

IMAPStore BounceExpertsRemote
Account BounceExperts
#UseNamespace yes

MaildirStore BounceExpertsLocal
Subfolders Verbatim
Path ~/Mail/BounceExperts/
Inbox ~/Mail/BounceExperts/INBOX

Channel BounceExperts
Far :BounceExpertsRemote:
Near :BounceExpertsLocal:
Patterns *
Create Both
Expunge Both
SyncState *
