command_exists() {
  command -v "$@" >/dev/null 2>&1
}

lowercase() {
  echo "$1" | sed "y/ABCDEFGHIJKLMNOPQRSTUVWXYZ/abcdefghijklmnopqrstuvwxyz/"
}

e_header() {
  printf "\n${bold}${purple}==========  %s  ==========${reset}\n" "$@"
}

e_arrow() {
  printf "➜ %s\n" "$@"
}

e_success() {
  printf "${green}✔ %s${reset}\n" "$@"
}

e_error() {
  printf "${red}✖ %s${reset}\n" "$@"
}

e_warning() {
  printf "${tan}➜ %s${reset}\n" "$@"
}

e_underline() {
  printf "${underline}${bold}%s${reset}\n" "$@"
}

e_bold() {
  printf "${bold}%s${reset}\n" "$@"
}

e_note() {
  printf "${underline}${bold}${blue}Note:${reset}  ${yellow}%s${reset}\n" "$@"
}

seek_confirmation() {
    printf "\\n${bold}%s${reset}" "$@"
    old_stty_cfg=$(stty -g)
    stty raw -echo
    answer=$( while ! head -c 1 | grep -i '[ny]' ;do true ;done )
    stty $old_stty_cfg
    if echo "$answer" | grep -iq "^n" ;then
        exit 1
    fi
}

# Pushover Notifications
# Usage: pushover "Title Goes Here" "Message Goes Here"
pushover () {
  PUSHOVERURL="https://api.pushover.net/1/messages.json"
  API_KEY=$PUSHOVER_API_KEY
  USER_KEY=$PUSHOVER_USER_KEY
  DEVICE=$PUSHOVER_DEVICE

  TITLE="${1}"
  MESSAGE="${2}"

  curl \
    -F "token=${API_KEY}" \
    -F "user=${USER_KEY}" \
    -F "device=${DEVICE}" \
    -F "title=${TITLE}" \
    -F "message=${MESSAGE}" \
    "${PUSHOVERURL}" > /dev/null 2>&1
}

################################################################################
#
# Set Colors
#
# Use colors, but only if connected to a terminal, and that terminal
# supports them.
#if which tput >/dev/null 2>&1; then
  #[ -z $TERM ] && TPUTTERM='-T xterm-256color' || TPUTTERM=''
#  [ -z $TERM ] && TPUTTERM='-T dumb' || TPUTTERM=''
#  ncolors=$(tput colors "$TPUTTERM" 2>&1)
#fi
if [ -t 1 ]; then
#  && [ -n "$ncolors" ] && [ "$ncolors" -ge 8 ]; then
    bold="$(tput bold)"
    underline=$(tput sgr 0 1)
    reset="$(tput sgr0)"
    red="$(tput setaf 1)"
    green="$(tput setaf 2)"
    yellow="$(tput setaf 3)"
    blue="$(tput setaf 4)"
    purple=$(tput setaf 171)
    tan=$(tput setaf 3)
else
    bold=""
    underline=""
    reset=""
    red=""
    green=""
    yellow=""
    blue=""
    purple=""
    tan=""
fi

set_sudo() {
  if command_exists sudo; then
    if sudo -vn 2>&1 | grep 'password' > /dev/null; then
      SUDO_CMD=$(command -v sudo)
    else
      SUDO_CMD=""
    fi
  fi
}

set_sudo

{{ if (ne .chezmoi.os "darwin") -}}
check_packagemgr() {
  if command_exists yum; then
    PKG_BIN=$(command -v yum)
    PKG_CMD="$SUDO_CMD $PKG_BIN -y -qq install"
  elif command_exists pkg; then
    PKG_BIN=$(command -v pkg)
    PKG_CMD="$SUDO_CMD $PKG_BIN install -y"
  elif command_exists pkg_add; then
    PKG_BIN=$(command -v pkg_add)
    PKG_CMD="$SUDO_CMD $PKG_BIN -U -I -x"
  elif command_exists apk; then
    PKG_BIN=$(command -v apk)
    PKG_CMD="$SUDO_CMD $PKG_BIN add"
  elif command_exists apt; then
    PKG_BIN=$(command -v apt)
    PKG_CMD="$SUDO_CMD $PKG_BIN -y install"
  fi
}
{{ end }}

set_download() {
  if command_exists curl; then
    DOWNLOAD_BIN=$(command -v curl)
    DOWNLOAD_CMD="$DOWNLOAD_BIN -fsSL"
  elif command_exists wget; then
    DOWNLOAD_BIN=$(command -v wget)
    DOWNLOAD_CMD="$DOWNLOAD_BIN -q -O-"
  elif command_exists fetch; then
    DOWNLOAD_BIN=$(command -v fetch)
    DOWNLOAD_CMD="$DOWNLOAD_BIN -q -o -"
  elif command_exists curlie; then
    DOWNLOAD_BIN=$(command -v curlie)
    DOWNLOAD_CMD="$DOWNLOAD_BIN -fsSL"
  fi
}

set_download
{{ if (ne .chezmoi.os "darwin") -}}
check_packagemgr
{{ end }}

CHEZMOI_OS={{ .chezmoi.os }}
CHEZMOI_ARCH={{ .chezmoi.arch }}

AG_BIN="ag"
AG_PKG="the_silver_searcher"
if command_exists batcat; then
    BAT_BIN=$(command -v batcat)
elif command_exists bat; then
    BAT_BIN=$(command -v bat)
fi
BAT_PKG="bat"
FZF_BIN=$(command -v fzf)
FZF_PKG="fzf"
FZF_VERSION="0.30.0"
GIT_BIN=$(command -v git)
GIT_PKG="git"
HTOP_BIN=$(command -v htop)
HTOP_PKG="htop"
TMUX_BIN=$(command -v tmux)
TMUX_PKG="tmux"
VIM_BIN=$(command -v vim)
VIM_PKG="vim"
ZSH_BIN=$(command -v zsh)
ZSH_PKG="zsh"
#fortune
#openssh
#tree
#asciinema
#awscli
#bottom
#bpytop
#broot
#caddy
#emacs
#choose
#cookiecutter
#curl
#dstask
#duf
#dust
#exa
#fd
#getdns
#gh
#git-delta
#glances
#gnupg
#gopass
#grex
#hey
#hping
#httpd
#httpie
#jq
#kubernetes-cli
#ldns
#lftp
#lynx
#mtr
#neofetch
#nmap
#opensc
#pwgen
#qemu
#ranger
#ripgrep
#rsync
#sd
#shellcheck
#tealdeer
#thefuck
#vegeta
#w3m
#wget
#wireguard-tools
#wrk
#wtfutil
{{- if (eq .chezmoi.os "aix" ) }}
{{- else if (eq .chezmoi.os "darwin") }}
{{- else if (eq .chezmoi.os "dragonfly" ) }}
{{- else if (eq .chezmoi.os "freebsd" ) }}
GIT_PKG="git-lite"
{{- else if (eq .chezmoi.os "netbsd" ) }}
{{- else if (eq .chezmoi.os "openbsd" ) }}
{{- else if (eq .chezmoi.os "solaris" ) }}
{{- else if (eq .chezmoi.osRelease.id "alpine" ) }}
{{- else if (eq .chezmoi.osRelease.id "amzn" ) }}
{{- else if (eq .chezmoi.osRelease.id "arch" ) }}
{{- else if (eq .chezmoi.osRelease.id "centos" ) }}
{{- else if (eq .chezmoi.osRelease.id "debian" ) }}
AG_PKG="silversearcher-ag"
VIM_PKG="vim-nox"
{{- else if (eq .chezmoi.osRelease.id "fedora" ) }}
{{- else if (eq .chezmoi.osRelease.id "opensuse" ) }}
{{- else if (eq .chezmoi.osRelease.id "rhel" ) }}
{{- else if (eq .chezmoi.osRelease.id "slackware" ) }}
{{- else if (eq .chezmoi.osRelease.id "sles" ) }}
{{- else if (eq .chezmoi.osRelease.id "ubuntu" ) }}
AG_PKG="silversearcher-ag"
VIM_PKG="vim-nox"
{{- else }}
{{- end }}
if command_exists python3; then
  PYTHON_BIN="python3"
elif command_exists python3.6; then
  PYTHON_BIN="python3.6"
elif command_exists python3.7; then
  PYTHON_BIN="python3.7"
elif command_exists python3.8; then
  PYTHON_BIN="python3.8"
elif command_exists python; then
  PYTHON_BIN="python"
elif command_exists python2; then
  PYTHON_BIN="python2"
fi
FREEBSD_PY_DEFAULT="py38-"

# vim: ft=sh:
