{{ template "libsh.tmpl" . }}

# Pushover Notifications
# Usage: pushover "Title Goes Here" "Message Goes Here"

pushover () {
    PUSHOVERURL="https://api.pushover.net/1/messages.json"
    API_KEY=$PUSHOVER_API_KEY
    USER_KEY=$PUSHOVER_USER_KEY
    DEVICE=$PUSHOVER_DEVICE

    TITLE="${1}"
    MESSAGE="${2}"

    curl \
        -F "token=${API_KEY}" \
        -F "user=${USER_KEY}" \
        -F "device=${DEVICE}" \
        -F "title=${TITLE}" \
        -F "message=${MESSAGE}" \
        "${PUSHOVERURL}" > /dev/null 2>&1
}

set_sudo() {
  if check_cmd sudo; then
    if sudo -vn 2>&1 | grep 'password' > /dev/null; then
      SUDO_BIN=$(command -v sudo)
    else
      SUDO_BIN=""
    fi
  fi
}

set_sudo

{{ if (ne .chezmoi.os "darwin") -}}
check_packagemgr() {
  if check_cmd yum; then
    PKG_BIN=$(command -v yum)
    PKG_CMD="$SUDO_CMD $PKG_BIN -y -qq install"
  elif check_cmd pkg; then
    PKG_BIN=$(command -v pkg)
    PKG_CMD="$SUDO_CMD $PKG_BIN install -y"
  elif check_cmd pkg_add; then
    PKG_BIN=$(command -v pkg_add)
    PKG_CMD="$SUDO_CMD $PKG_BIN -U -I -x"
  elif check_cmd apt; then
    PKG_BIN=$(command -v apt)
    PKG_CMD="$SUDO_CMD $PKG_BIN -y install"
  fi
}
{{ end }}

set_download() {
  if check_cmd curl; then
    DOWNLOAD_BIN=$(command -v curl)
  elif check_cmd wget; then
    DOWNLOAD_BIN=$(command -v wget)
  elif check_cmd fetch; then
    DOWNLOAD_BIN=$(command -v fetch)
  elif check_cmd curlie; then
    DOWNLOAD_BIN=$(command -v curlie)
  fi
}

set_download
{{ if (ne .chezmoi.os "darwin") -}}
check_packagemgr
{{ end }}

GIT_BIN=$(command -v git)
ZSH_BIN=$(command -v zsh)
if check_cmd python3; then
  PYTHON_BIN="python3"
elif check_cmd python3.8; then
  PYTHON_BIN="python3.8"
elif check_cmd python3.9; then
  PYTHON_BIN="python3.9"
elif check_cmd python3.10; then
  PYTHON_BIN="python3.10"
elif check_cmd python; then
  PYTHON_BIN="python"
elif check_cmd python2; then
  PYTHON_BIN="python2"
fi
FREEBSD_PY_DEFAULT="py39-"

# vi: set ft=sh
