{{ template "libsh.tmpl" . }}

set_sudo

{{ if (ne .chezmoi.os "darwin") -}}
check_packagemgr() {
  if check_cmd yum; then
    PKG_BIN=$(command -v yum)
    PKG_CMD="$SUDO_CMD $PKG_BIN -y -qq install"
  elif check_cmd pkg; then
    PKG_BIN=$(command -v pkg)
    PKG_CMD="$SUDO_CMD $PKG_BIN install -y"
  elif check_cmd pkg_add; then
    PKG_BIN=$(command -v pkg_add)
    PKG_CMD="$SUDO_CMD $PKG_BIN -U -I -x"
  elif check_cmd apt; then
    PKG_BIN=$(command -v apt)
    PKG_CMD="$SUDO_CMD $PKG_BIN -y install"
  fi
}
{{ end }}

{{ if (ne .chezmoi.os "darwin") -}}
check_packagemgr
{{ end }}

GIT_BIN=$(command -v git)
ZSH_BIN=$(command -v zsh)
if check_cmd python3; then
  PYTHON_BIN="python3"
elif check_cmd python3.8; then
  PYTHON_BIN="python3.8"
elif check_cmd python3.9; then
  PYTHON_BIN="python3.9"
elif check_cmd python3.10; then
  PYTHON_BIN="python3.10"
elif check_cmd python; then
  PYTHON_BIN="python"
elif check_cmd python2; then
  PYTHON_BIN="python2"
fi
FREEBSD_PY_DEFAULT="py39-"

# vi: set ft=sh
