{{- if and (.fcluster) (eq .chezmoi.arch "amd64") }}
[".local/bin/starship"]
    type = "archive-file"
    url = "https://github.com/starship/starship/releases/latest/download/starship-x86_64-unknown-freebsd.tar.gz"
    path = "starship"
{{- end }}
{{- if .fcluster }}
[".config/tcsh/plugins/fzf-csh.csh"]
    type = "file"
    url = "https://raw.githubusercontent.com/graahnul-grom/fzf-csh/master/fzf-csh.csh"
    refreshPeriod = "84h"
[".local/bin/fzf-csh-find.sh"]
    type = "file"
    url = "https://raw.githubusercontent.com/graahnul-grom/fzf-csh/master/fzf-csh-find.sh"
    refreshPeriod = "84h"
    executable = true
[".local/bin/fzf-csh-impl.sh"]
    type = "file"
    url = "https://raw.githubusercontent.com/graahnul-grom/fzf-csh/master/fzf-csh-impl.sh"
    refreshPeriod = "84h"
    executable = true
{{- end }}
{{- if not .fcluster }}
[".config/vim/autoload/plug.vim"]
    type = "file"
    url = "https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"
    refreshPeriod = "84h"
[".config/zsh/plugins/fzf"]
    type = "archive"
    url = "https://github.com/junegunn/fzf/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".config/zsh/plugins/powerlevel10k"]
    type = "archive"
    url = "https://github.com/romkatv/powerlevel10k/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".config/zsh/plugins/zsh-autosuggestions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-autosuggestions/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".config/zsh/plugins/zsh-completions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-completions/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".config/zsh/plugins/zsh-fzf-history-search"]
    type = "archive"
    url = "https://github.com/joshskidmore/zsh-fzf-history-search/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".config/zsh/plugins/zsh-nvm"]
    type = "archive"
    url = "https://github.com/lukechilds/zsh-nvm/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".config/zsh/plugins/zsh-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".config/zsh/plugins/zsh-z"]
    type = "archive"
    url = "https://github.com/agkozak/zsh-z/archive/refs/heads/master.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".config/tmux/plugins/nord"]
    type = "archive"
    url = "https://github.com/nordtheme/tmux/archive/refs/heads/develop.zip"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
{{-   end }}
{{- if and (not .ephemeral) (not .headless) (ne .chezmoi.os "darwin")}}
{{-   $fontDir := "" }}
{{-   if eq .chezmoi.os "linux" }}
{{-     $fontDir = ".local/share/fonts" }}
{{-   end }}
["{{ $fontDir }}/FiraCodeNerdFontMonoSemiBold .ttf"]
    type = "file"
    url = "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/FiraCode/SemiBold/FiraCodeNerdFontMono-SemiBold.ttf"
    refreshPeriod = "168h"
["{{ $fontDir }}/FiraCodeNerdFontMonoRegular.ttf"]
    type = "file"
    url = "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/FiraCode/Regular/FiraCodeNerdFontMono-Regular.ttf"
    refreshPeriod = "168h"
["{{ $fontDir }}/FiraCodeNerdFontMonoBold.ttf"]
    type = "file"
    url = "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/FiraCode/Bold/FiraCodeNerdFontMono-Bold.ttf"
    refreshPeriod = "168h"
["{{ $fontDir }}/FiraCodeNerdFontMonoLight.ttf"]
    type = "file"
    url = "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/FiraCode/Light/FiraCodeNerdFontMono-Light.ttf"
    refreshPeriod = "168h"
["{{ $fontDir }}/FiraCodeNerdFontMonoMedium.ttf"]
    type = "file"
    url = "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/FiraCode/Medium/FiraCodeNerdFontMono-Medium.ttf"
    refreshPeriod = "168h"
["{{ $fontDir }}/FiraCodeNerdFontCompleteMonoRetina.ttf"]
    type = "file"
    url = "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/FiraCode/Retina/FiraCodeNerdFontMono-Retina.ttf"
    refreshPeriod = "168h"
{{- end }}
