#!/usr/bin/env sh

{{ template "libsh.tmpl" . }}

{{ if (ne .chezmoi.os "darwin") -}}

{{ template "helpers.tmpl" . }}
{{ if hasKey .chezmoi.osRelease "id" }}
{{ if or (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.id "debian") }}
###############################################################################
##############################Install terminfo ################################
###############################################################################
download https://raw.githubusercontent.com/kovidgoyal/kitty/master/terminfo/kitty.terminfo ~/kitty.terminfo
tic -x -o ~/.terminfo ~/kitty.terminfo
rm ~/kitty.terminfo
{{ end }}
{{ end }}

###############################################################################
########################Bootstrap pkg ########################################
###############################################################################
{{ if eq .chezmoi.os "freebsd" -}}
{{ if .gotroot }}
${MKDIR} /usr/local/etc/pkg/repos
{{ if or (eq .hostname "dev") (eq .hostname "pdr") (eq .hostname "rpi4a") }}
$SED -i '' -e 's/quarterly/latest/g; s/yes/no/g' /etc/pkg/FreeBSD.conf > /usr/local/etc/pkg/repos/FreeBSD.conf
$CAT <<EOF > /usr/local/etc/pkg/repos/infrastructure.conf
infrastructure: {
	url: "http://{{- .chezmoi.hostname }}.bofh.network/\${ABI}/infrastructure",
	enabled: yes,
	priority: 10
}
EOF
{{ else }}
$SED -i '' -e 's/quarterly/latest/g' /etc/pkg/FreeBSD.conf > /usr/local/etc/pkg/repos/FreeBSD.conf
{{ end }}
env ASSUME_ALWAYS_YES=yes pkg bootstrap -f
pkg update -f
{{ end }}
{{ end }}
###############################################################################
##############################Install bat #####################################
###############################################################################
{{ if .gotroot }}
if [ -z "$BAT_BIN" ]; then
$PKG_CMD $BAT_PKG
fi
{{ end }}
###############################################################################
#################################Install emacs ################################
###############################################################################
{{ if .gotroot }}
{{ if not .headless }}
if [ -z "$EMACS_BIN" ]; then
$PKG_CMD $EMACS_PKG
fi
{{ end }}
{{ end }}
###############################################################################
##############################Install fd  #####################################
###############################################################################
if [ -z "$FD_BIN" ]; then
{{ if .gotroot }}
$PKG_CMD $FD_PKG
{{ end }}
fi
###############################################################################
##############################Install fzf #####################################
###############################################################################
if [ -z "$FZF_BIN" ]; then
{{ if .gotroot }}
$PKG_CMD $FZF_PKG
{{ else }}
if [ ! -x "$HOME"/.local/bin/fzf ]; then
	${MKDIR} "$HOME"/.local/bin
	${DOWNLOAD_CMD} https://github.com/junegunn/fzf/releases/download/"$FZF_VERSION"/fzf-"$FZF_VERSION"-"$CHEZMOI_OS"_"$CHEZMOI_ARCH".tar.gz | tar -xzf - -C $HOME/.local/bin
fi
{{ end }}
fi
###############################################################################
################################Install git  ##################################
###############################################################################
{{ if .gotroot }}
if [ -z "$GIT_BIN" ]; then
$PKG_CMD $GIT_PKG
fi
{{ end }}
###############################################################################
################################Install htop  #################################
###############################################################################
{{ if .gotroot }}
if [ -z "$HTOP_BIN" ]; then
$PKG_CMD $HTOP_PKG
fi
{{ end }}
###############################################################################
#################################Install kitty ################################
###############################################################################
{{ if .gotroot }}
{{ if not .headless }}
if [ -z "$KITTY_BIN" ]; then
$PKG_CMD $KITTY_PKG
fi
{{ end }}
{{ end }}
###############################################################################
###############################Install ripgrep ################################
###############################################################################
{{ if .gotroot }}
if [ -z "$RG_BIN" ]; then
$PKG_CMD $RG_PKG
fi
{{ end }}
###############################################################################
################################Install tmux  #################################
###############################################################################
{{ if .gotroot }}
if [ -z "$TMUX_BIN" ]; then
$PKG_CMD $TMUX_PKG
fi
{{ end }}
###############################################################################
################################Install vim  ##################################
###############################################################################
{{ if .gotroot }}
if [ -z "$VIM_BIN" ]; then
$PKG_CMD $VIM_PKG
fi
{{ end }}
###############################################################################
################################Install zsh  ##################################
###############################################################################
{{ if .gotroot }}
if [ -z "$ZSH_BIN" ]; then
$PKG_CMD $ZSH_PKG
fi
{{ end }}
{{ end }}
# vim: ft=sh:
