#!/bin/sh
{{ if (ne .chezmoi.os "darwin") -}}
#set -ue

{{ template "helpers.tmpl" . }}
{{ if or (eq .chezmoi.osRelease.id "ubuntu") (eq .chezmoi.osRelease.id "debian") }}
###############################################################################
##############################Install terminfo ################################
###############################################################################
$DOWNLOAD_CMD https://raw.githubusercontent.com/kovidgoyal/kitty/master/terminfo/kitty.terminfo > ~/kitty.terminfo
tic -x -o ~/.terminfo ~/kitty.terminfo
rm ~/kitty.terminfo
{{ end }}
###############################################################################
##############################Install bat #####################################
###############################################################################
{{ if .gotroot }}
if [ -z "$BAT_BIN" ]; then
$PKG_CMD $BAT_PKG
fi
{{ end }}
###############################################################################
##############################Install fzf #####################################
###############################################################################
if [ -z "$FZF_BIN" ]; then
{{ if .gotroot }}
$PKG_CMD $FZF_PKG
{{ else }}
if [ ! -x "$HOME"/.local/bin/fzf ]; then
  "$DOWNLOAD_CMD" https://github.com/junegunn/fzf/releases/download/"$FZF_VERSION"/fzf-"$FZF_VERSION"-"$CHEZMOI_OS"_"$CHEZMOI_ARCH".tar.gz | tar -xzf - -C $HOME/.local/bin
fi
{{ end }}
fi
###############################################################################
################################Install git  ##################################
###############################################################################
{{ if .gotroot }}
if [ -z "$GIT_BIN" ]; then
$PKG_CMD $GIT_PKG
fi
{{ end }}
###############################################################################
################################Install htop  #################################
###############################################################################
{{ if .gotroot }}
if [ -z "$HTOP_BIN" ]; then
$PKG_CMD $HTOP_PKG
fi
{{ end }}
###############################################################################
################################Install tmux  #################################
###############################################################################
{{ if .gotroot }}
if [ -z "$TMUX_BIN" ]; then
$PKG_CMD $TMUX_PKG
fi
{{ end }}
###############################################################################
################################Install vim  ##################################
###############################################################################
{{ if .gotroot }}
if [ -z "$VIM_BIN" ]; then
$PKG_CMD $VIM_PKG
fi
{{ end }}
###############################################################################
################################Install zsh  ##################################
###############################################################################
if [ -z "$ZSH_BIN" ]; then
{{ if .gotroot }}
$PKG_CMD $ZSH_PKG
{{ else }}
if [ ! -x "$HOME"/.local/bin/zsh ]; then
  "$DOWNLOAD_CMD" https://raw.githubusercontent.com/romkatv/zsh-bin/master/install | sh -s -- -q -d "${HOME}"/.local -e no
fi
{{ end }}
fi
{{ end }}
# vim: ft=sh:
