{{ if (ne .chezmoi.os "darwin") -}}
#!/bin/sh -x

{{ template "helpers.tmpl" . }}

###############################################################################
#################################Install git  #################################
###############################################################################
{{ if .gotroot }}
which git
$PKG_CMD $GIT_PKG
{{ end }}
###############################################################################
#################################Install zsh  #################################
###############################################################################
set -ue
{{ if not .gotroot }}
if [ ! -x "$HOME"/.local/bin/zsh ]; then
  if command_exists curl; then
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/romkatv/zsh-bin/master/install)" -q -d "${HOME}"/.local -e no
  elif command_exists wget; then
    sh -c "$(wget -O- https://raw.githubusercontent.com/romkatv/zsh-bin/master/install)" -q -d "${HOME}"/.local -e no
  elif command_exists fetch; then
    sh -c "$(fetch -q -o - https://raw.githubusercontent.com/romkatv/zsh-bin/master/install)" -q -d "${HOME}"/.local -e no
  fi
fi
ZSH_BIN=${HOME}/.local/bin/zsh
{{ else }}
$PKG_CMD $ZSH_PKG
{{ end }}
{{ end }}
# vim: ft=sh:
