Host bc-1login
  HostName 1login.bounce-commerce.de
  User toor
Host bc-backup
  HostName 135.181.212.53
  User toor
Host bc-commerce
  HostName 168.119.71.51
  User toor
  ForwardAgent yes
Host bc-db          # Bounce-Expert db
  HostName 162.55.243.215
  User toor
  ForwardAgent yes
Host bc-devops
  HostName 195.201.199.252
  User toor
  ForwardAgent yes
Host bc-mail
  Hostname 176.9.89.59
  User toor
  ForwardAgent yes
Host bc-monitoring
  HostName 195.201.240.189
  User toor
  IdentityFile ~/.ssh/id_bounce-experts_ed25519_256
  IdentitiesOnly yes
Host bc-page
  HostName 162.55.234.231
  ForwardAgent yes
  User toor
Host bc-*
  User root
  IdentityFile ~/.ssh/id_bounce-experts_ed25519_256
Host be-gitlab
  HostName gitlab.bounce-experts.com
  User git
  IdentityFile ~/.ssh/id_bounce-experts_ed25519_256
Host be-pkg
  HostName pkg.bounce-experts.com
  User toor
  ForwardAgent yes
Host be-*
  User root
  IdentityFile ~/.ssh/id_bounce-experts_ed25519_256
