Host freefall
  HostName freefall.freebsd.org
  IdentityFile ~/.ssh/id_mbp_ed25519_256.pub
  User bofh
Host fbsd-admin.nyi fbsd-ntp0.nyi
  HostName admin.nyi.freebsd.org
Host fbsd-dropbear-ipmi.syd
  Hostname dropbear-ipmi.syd.freebsd.org
Host fbsd-dropbear.syd fbsd-wbe0.syd fbsd-fbs-pkg0-ctl.syd fbsd-websync0.syd fbsd-ftpsync.syd fbsd-syncthing.syd fbsd-wfe0.syd fbsd-gitmir.syd fbsd-pkg0.syd fbsd-ftp0.syd fbsd-monitor.syd fbsd-admin-http.syd fbsd-ns1.syd fbsd-mxrelay.syd
  Hostname dropbear.syd.freebsd.org
Host fbsd-ds4
  HostName ds4.nyi.freebsd.org
Host fbsd-filly1
  HostName filly1.nyi.freebsd.org
Host fbsd-filly4
  HostName filly4.nyi.freebsd.org
Host fbsd-igw-ext.syd
  HostName igw-ext.syd.freebsd.org
Host fbsd-phabric
  Hostname reviews.nyi.freebsd.org
Host fbsd-phabric-dev
  Hostname reviews-dev.nyi.freebsd.org
Host fbsd-*
  User bofh
  IdentityFile ~/.ssh/id_freebsd_ed25519_256.pub
  ProxyJump freefall
