Host freefall
  HostName freefall.freebsd.org
{{- if .personal }}
  {{-   if eq .chezmoi.os "darwin" }}
  IdentityFile ~/.ssh/id_mbp_ed25519_256.pub
  {{-   end }}
{{-   end }}
  User bofh
  ForwardAgent yes
Host fbsd-admin-svn
  HostName admin-svn.freebsd.org
Host fbsd-admin.chi
  HostName admin.chi.freebsd.org
Host fbsd-admin.nyi fbsd-ntp0.nyi
  HostName admin.nyi.freebsd.org
Host fbsd-arthur.nyi
  HostName arthur.nyi.freebsd.org
Host fbsd-bedlam1 fbsd-ref12-amd64 fbsd-ref12-i386 fbsd-ref15-amd64 fbsd-ref15-i386
  HostName bedlam1.nyi.freebsd.org
Host fbsd-bratwurst.fra fbsd-mxrelay.fra fbsd-pkg0.fra
  HostName bratwurst.fra.freebsd.org
Host fbsd-butler1.nyi
  HostName butler1.nyi.freebsd.org
Host fbsd-bsd3.sec
  HostName bsd3.sec.freebsd.org
Host fbsd-dist.nyi fbsd-svn-master fbsd-git-mirror0 fbsd-ftp-master fbsd-gitpush fbsd-git2svn
  HostName dist.nyi.freebsd.org
Host fbsd-dropbear-ipmi.syd
  HostName dropbear-ipmi.syd.freebsd.org
Host fbsd-dropbear.syd fbsd-wbe0.syd fbsd-fbs-pkg0-ctl.syd fbsd-websync0.syd fbsd-ftpsync.syd fbsd-syncthing.syd fbsd-wfe0.syd fbsd-gitmir.syd fbsd-pkg0.syd fbsd-ftp0.syd fbsd-monitor.syd fbsd-admin-http.syd fbsd-ns1.syd fbsd-mxrelay.syd fbsd-smarthost.syd
  HostName dropbear.syd.freebsd.org
Host fbsd-ds4 fbsd-ds4.nyi fbsd-phabric-dev
  HostName ds4.nyi.freebsd.org
Host fbsd-filly1 fbsd-svnmir.nyi
  HostName filly1.nyi.freebsd.org
Host fbsd-filly2
  HostName filly2.nyi.freebsd.org
Host fbsd-filly3 fbsd-wbe-wiki.nyi fbsd-kenobi fbsd-wiki-dev.nyi fbsd-www-dev.nyi fbsd-www-builder fbsd-www-sync0 fbsd-docs-builder fbsd-docs-sync0 fbsd-web3.nyi fbsd-wiki fbsd-wiki-dev fbsd-wiki.nyi
  HostName filly3.nyi.freebsd.org
Host fbsd-filly4
  HostName filly4.nyi.freebsd.org
Host fbsd-gohan05.nyi
  HostName gohan05.nyi.freebsd.org
Host fbsd-grind.nyi fbsd-portscout fbsd-portscout.nyi fbsd-socsvn fbsd-distfetch.nyi fbsd-docbuild fbsd-portsindexbuild.nyi fbsd-bit0.nyi
  HostName grind.nyi.freebsd.org
Host fbsd-geegee1.chi fbsd-websync0.chi fbsd-wbe0.chi fbsd-wfe0.chi
  HostName geegee1.chi.freebsd.org
Host fbsd-geegee2.chi
  HostName geegee2.chi.freebsd.org
Host fbsd-geegee3.chi
  HostName geegee3.chi.freebsd.org
Host fbsd-halo fbsd-admin-http fbsd-admin-http.nyi
  HostName halo.nyi.freebsd.org
Host fbsd-igw-ext.syd
  HostName igw-ext.syd.freebsd.org
Host fbsd-jenkins.ci
  HostName jenkins.ci.freebsd.org
Host fbsd-lancelot.nyi
  HostName lancelot.nyi.freebsd.org
Host fbsd-mail.nyi
  HostName mail.nyi.freebsd.org
Host fbsd-mail.svn
  HostName mail-svn.freebsd.org
Host fbsd-nbk0.nyi
  HostName nbk0.nyi.freebsd.org
Host fbsd-ci fbsd-jenkins fbsd-mare2.nyi fbsd-wfe0.nyi fbsd-security fbsd-election.nyi fbsd-election
  HostName mare2.nyi.freebsd.org
Host fbsd-pkg-master fbsd-pkg-logs.nyi fbsd-pkg-master0.nyi
  HostName pkg-master0.nyi.freebsd.org
Host fbsd-stanley
  HostName stanley.nyi.freebsd.org
Host fbsd-update2 fbsd-westy.tuk
  HostName westy.tuk.freebsd.org
Host fbsd-whelp fbsd-whelp.jinx fbsd-pkg0.jinx
  HostName whelp.jinx.freebsd.org
Host fbsd-universe15b
  HostName universe15b.freebsd.org
Host fbsd-*
  User bofh
{{- if .personal }}
  {{-   if eq .chezmoi.os "darwin" }}
  IdentityFile ~/.ssh/id_freebsd_ed25519_256.pub
  {{-   end }}
{{-   end }}
  ProxyJump freefall
