Host ubnt
  HostName 192.168.30.1
  User bofh
  PreferredAuthentications password
  PubkeyAuthentication no
Host rpi4a
  #HostName rpi4a.bofh.network
  HostName 192.168.30.200
  User toor
  ForwardAgent yes
Host ios
  HostName 192.168.30.232
  User apnic
  PubkeyAuthentication no
  KexAlgorithms +diffie-hellman-group1-sha1,diffie-hellman-group14-sha1
  Ciphers +aes128-ctr,aes192-ctr,aes256-ctr,aes128-cbc,3des-cbc
  MACs hmac-md5,hmac-sha1,umac-64@openssh.com
  HostKeyAlgorithms=+ssh-rsa
