Host vpn10
  HostName 185.92.222.208
  User root
Host resolver1
  HostName 95.179.185.192
  HostName 2001:19f0:5001:395e:5400:03ff:feee:4d36
Host pdr
  HostName pdr.bofh.network
  User toor
  AddressFamily inet
  ForwardAgent yes
Host pdr2
  HostName pdr2.bofh.network
  User toor
  AddressFamily inet
Host dev
  HostName dev.bofh.network
  User toor
  ForwardAgent yes
  AddressFamily inet
  RemoteForward /root/.gnupg/S.gpg-agent /Users/bofh/.gnupg/S.gpg-agent.extra
Host git
  HostName git.bofh.network
  User git
Host rsync
  User root
  ProxyJump dev
  HostName zh1086b.rsync.net
