Host pdr
  HostName pdr.bofh.network
  User toor
  AddressFamily inet
  ForwardAgent yes
Host pdr2
  HostName pdr2.bofh.network
  User toor
  AddressFamily inet
Host dev
  HostName dev.bofh.network
  User toor
  ForwardAgent yes
  AddressFamily inet
  RemoteForward /root/.gnupg/S.gpg-agent /Users/bofh/.gnupg/S.gpg-agent.extra
Host git
  HostName git.bofh.network
  User git
Host rsync
  User root
  ProxyJump dev
  HostName zh1086b.rsync.net
