Host UvA-shell
  Hostname shell.students.os3.nl
  User mrahman
Host UvA-server
  Hostname copenhagen.studlab.os3.nl
  User toor
  ForwardAgent yes
Host UvA-ceph2
  Hostname 145.100.104.185
  User root
  ProxyJump UvA-server
Host UvA-ceph4
  Hostname 145.100.104.186
  User root
  ProxyJump UvA-server
Host *.os3.nl
{{- if .personal }}
  {{-   if eq .chezmoi.os "darwin" }}
  IdentityFile ~/.ssh/id_freebsd_ed25519_256.pub
  {{-   end }}
{{-   end }}:
