Host vu-appsec
  HostName appsec.vusec.net
  User bofh
  IdentityFile ~/.ssh/vu_ed25519.pub
Host vu-data
  HostName ssh.data.vu.nl
  User mrn429
  KbdInteractiveAuthentication=yes
  PreferredAuthentications password
  PubkeyAuthentication no
  HostKeyAlgorithms=+ssh-dss
Host vu-das
  Hostname fs0.das5.cs.vu.nl
  User dsys2123
  IdentityFile ~/.ssh/id_mbp_ecdsa_521
  ProxyJump vu-data
Host vu-stosys
  Hostname localhost
  User user
  Port 7777
  ForwardAgent yes
Host vu-acn
  Hostname localhost
  User acn22
  Port 4242
  ForwardAgent yes
  ForwardX11 yes
