{{- if (eq .chezmoi.os "aix" ) }}
{{- else if (eq .chezmoi.os "darwin") }}
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items

## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout
.apdisk
{{- else if (eq .chezmoi.os "dragonfly" ) }}
{{- else if (eq .chezmoi.os "freebsd" ) }}
{{- else if (eq .chezmoi.os "netbsd" ) }}
{{- else if (eq .chezmoi.os "openbsd" ) }}
{{- else if (eq .chezmoi.os "solaris" ) }}
{{- else if (eq .chezmoi.os "linux" ) }}
{{- if hasKey .chezmoi.osRelease "id" }}
{{- if (eq .chezmoi.osRelease.id "almalinux" ) }}
{{- else if (eq .chezmoi.osRelease.id "alpine" ) }}
{{- else if (eq .chezmoi.osRelease.id "amzn" ) }}
{{- else if (eq .chezmoi.osRelease.id "arch" ) }}
{{- else if (eq .chezmoi.osRelease.id "centos" ) }}
{{- else if (eq .chezmoi.osRelease.id "debian" ) }}
{{- else if (eq .chezmoi.osRelease.id "fedora" ) }}
{{- else if (eq .chezmoi.osRelease.id "opensuse" ) }}
{{- else if (eq .chezmoi.osRelease.id "rhel" ) }}
{{- else if (eq .chezmoi.osRelease.id "slackware" ) }}
{{- else if (eq .chezmoi.osRelease.id "sles" ) }}
{{- else if (eq .chezmoi.osRelease.id "ubuntu" ) }}
{{- end }}
{{- end }}
{{- end }}

################################################################################
##########################archives in gitignore  ###############################
################################################################################
# It's better to unpack these files and commit the raw source because
# git has its own built in compression methods.
*.7z
*.jar
*.rar
*.zip
*.gz
*.gzip
*.tgz
*.bzip
*.bzip2
*.bz2
*.xz
*.lzma
*.cab
*.xar

# Packing-only formats
*.iso
*.tar

# Package management formats
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm
*.msi
*.msm
*.msp
*.txz

################################################################################
##################### backups/patch/diff in gitignore  #########################
################################################################################
*.bak
*.gho
*.ori
*.orig
*.tmp
*.patch
*.diff
*.rej

################################################################################
############################ emacs in gitignore  ###############################
################################################################################
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

################################################################################
############################# gpg in gitignore  ################################
################################################################################
secring.*

################################################################################
############################# vim in gitignore  ################################
################################################################################
# Swap
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Session
Session.vim
Sessionx.vim

# Temporary
.netrwhist
*~
# Auto-generated tag files
tags
# Persistent undo
[._]*.un~

################################################################################
############################openssl in gitignore  ##############################
################################################################################
## Certificate Authority
*.ca

## Certificate
*.crt

## Certificate Sign Request
*.csr

## Certificate
*.der

## Key database file
*.kdb

## PKCS #12
*.p12

## PEM-encoded certificate data
*.pem

## Random number seed
*.rnd

## SSLeay data
*.ssleay

## S/MIME message
*.smime
